@tailwind base;
@tailwind components;
@tailwind utilities;

.code-highlight {
  border-radius: 0.25rem;
  padding: 0.125rem 0.1875rem;
  margin: 0 -0.1875rem;
}

code[class^='language-diff-'] {
  @apply vno-flex vno-px-9;
}

code[class^='language-diff-'] > span {
  @apply vno-min-w-full vno-flex-none;
}

.token.tag,
.token.class-name,
.token.selector,
.token.selector .class,
.token.selector.class,
.token.function {
  @apply vno-text-pink-400;
}

.token.attr-name,
.token.keyword,
.token.rule,
.token.pseudo-class,
.token.important {
  @apply vno-text-slate-300;
}

.token.attr-value,
.token.class,
.token.string,
.token.attr-value *,
.token.property {
  @apply vno-text-sky-300;
}

.token.punctuation,
.token.attr-equals,
.token.attr-value .attr-equals,
.token.attr-value .attr-equals + .punctuation,
.token.attr-value > .punctuation:last-child {
  @apply vno-text-slate-500;
}

.token.unit,
.language-css .token.function {
  @apply vno-text-teal-200;
}

.language-shell .token:not(.comment),
.token.atapply .token:not(.rule):not(.important):not(.punctuation) {
  color: inherit;
}

.token.comment,
.token.module,
.token.operator,
.token.combinator {
  @apply vno-text-slate-400;
}

.token.unchanged {
  @apply vno-block;
}

.token.deleted,
.token.inserted {
  @apply vno-relative -vno-mx-9 vno-block vno-border-l-4 vno-pl-8 vno-pr-5 before:vno-absolute before:vno-top-0 before:vno-left-4;
}

.token.inserted {
  @apply vno-border-teal-400 vno-bg-teal-400/[0.15] before:vno-text-teal-400 before:vno-content-['+'];
}

.token.deleted {
  @apply vno-border-rose-400 vno-bg-rose-500/[0.15] before:vno-text-rose-400 before:vno-content-['-'];
}

.highlight-line {
  @apply vno-relative -vno-ml-5 -vno-mr-9 vno-border-l-4 vno-border-sky-400 vno-bg-sky-300/[0.15] vno-pl-4 vno-pr-5;
}

.code-line {
  @apply vno-block;
}

#nprogress {
  pointer-events: none;
}
#nprogress .bar {
  background: #38bdf8;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #38bdf8, 0 0 5px #38bdf8;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}
#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #38bdf8;
  border-left-color: #38bdf8;
  border-radius: 50%;
  -webkit-animation: nprogresss-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}
.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}
@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
